{% extends 'master.html' %}
{% load static %}
{% block title %}
  Dashboard
{% endblock %}
{% block styles %}
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block contents %}
<div class="welcome-section" id="welcome-section">
    <div class="welcome-text">
        <h2 id="user_name_txt">Welcome back, Maganga</h2>
        <p id="clock"></p>
    </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}